/build
/data
/plant-pathology-2021-fgvc8.zip
src/__pycache__/forge.cpython-39.pyc
src/__pycache__/model.cpython-39.pyc
src/__pycache__/plant_loader.cpython-39.pyc
src/__pycache__/plant_loader2.cpython-39.pyc
src/__pycache__/pretrain_apn.cpython-39.pyc
RACNN_lossAllMajor/logs/racnn-cls-loss.csv
RACNN_lossAllMajor/logs/racnn-cls1-training-accuracy.csv
RACNN_lossAllMajor/logs/racnn-cls1-validation-accuracy.csv
RACNN_lossAllMajor/logs/racnn-cls2-training-accuracy.csv
RACNN_lossAllMajor/logs/racnn-cls2-validation-accuracy.csv
RACNN_lossAllMajor/logs/racnn-cls3-training-accuracy.csv
RACNN_lossAllMajor/logs/racnn-cls3-validation-accuracy.csv
RACNN_lossAllMajor/logs/racnn-rank-loss.csv
RACNN_lossAllMajor/logs/racnn-training-accuracy.csv
RACNN_lossAllMajor/logs/racnn-validation-accuracy.csv
RACNN_lossAllMajor/plots/racnn-accuracy.png
RACNN_lossAllMajor/plots/racnn-cls-loss.png
RACNN_lossAllMajor/plots/racnn-cls-train-accuracy.png
RACNN_lossAllMajor/plots/racnn-cls-valid-accuracy.png
RACNN_lossAllMajor/plots/racnn-rank-loss.png
plots/racnn-accuracy.png
plots/racnn-cls-loss.png
plots/racnn-cls-train-accuracy.png
plots/racnn-cls-valid-accuracy.png
plots/racnn-rank-loss.png
logs/racnn-cls-loss.csv
logs/racnn-cls1-training-accuracy.csv
logs/racnn-cls1-validation-accuracy.csv
logs/racnn-cls2-training-accuracy.csv
logs/racnn-cls2-validation-accuracy.csv
logs/racnn-cls3-training-accuracy.csv
logs/racnn-cls3-validation-accuracy.csv
logs/racnn-rank-loss.csv
logs/racnn-training-accuracy.csv
logs/racnn-validation-accuracy.csv
gif/pretrain_apn_EfficientNet@2x-1641482660.gif
gif/pretrain_apn_EfficientNet@2x-1641550569.gif
gif/pretrain_apn_EfficientNet@2x-1641552533.gif
gif/pretrain_apn_EfficientNet@2x-1641654735.gif
gif/pretrain_apn_EfficientNet@2x-1641657627.gif
gif/pretrain_apn_EfficientNet@2x-1641663725.gif
gif/pretrain_apn_EfficientNet@4x-1641482664.gif
gif/pretrain_apn_EfficientNet@4x-1641550572.gif
gif/pretrain_apn_EfficientNet@4x-1641552536.gif
gif/pretrain_apn_EfficientNet@4x-1641654738.gif
gif/pretrain_apn_EfficientNet@4x-1641657629.gif
gif/pretrain_apn_EfficientNet@4x-1641663728.gif
efficientNetMaxed/efficientNet_b0_ImageNet.pt
efficientNetMaxed/efficientNet_b0-accuracy.png
efficientNetMaxed/efficientNet_b0-loss.csv
efficientNetMaxed/efficientNet_b0-loss.png
efficientNetMaxed/efficientNet_b0-training_accuracy.csv
efficientNetMaxed/efficientNet_b0-validation_accuracy.csv
efficientNetMaxed/labels.png
27_01_2022/efficientNet_b0_ImageNet.pt
27_01_2022/racnn_efficientNetB0.pt
27_01_2022/plots/racnn-accuracy.png
27_01_2022/plots/racnn-cls-loss.png
27_01_2022/plots/racnn-cls-train-accuracy.png
27_01_2022/plots/racnn-cls-valid-accuracy.png
27_01_2022/plots/racnn-rank-loss.png
25_01_2022/efficientNet_b0_ImageNet.pt
25_01_2022/racnn_efficientNet@2x-1643124966.gif
25_01_2022/racnn_efficientNet@4x-1643124966.gif
25_01_2022/racnn_efficientNetB0.pt
25_01_2022/logs/racnn-cls-loss.csv
25_01_2022/logs/racnn-cls1-training-accuracy.csv
25_01_2022/logs/racnn-cls1-validation-accuracy.csv
25_01_2022/logs/racnn-cls2-training-accuracy.csv
25_01_2022/logs/racnn-cls2-validation-accuracy.csv
25_01_2022/logs/racnn-cls3-training-accuracy.csv
25_01_2022/logs/racnn-cls3-validation-accuracy.csv
25_01_2022/logs/racnn-rank-loss.csv
25_01_2022/logs/racnn-training-accuracy.csv
25_01_2022/logs/racnn-validation-accuracy.csv
25_01_2022/plots/racnn-accuracy.png
25_01_2022/plots/racnn-cls-loss.png
25_01_2022/plots/racnn-cls-train-accuracy.png
25_01_2022/plots/racnn-cls-valid-accuracy.png
25_01_2022/plots/racnn-rank-loss.png
24_01_2022/pretrain_apn_EfficientNet@2x-1642867428.gif
24_01_2022/pretrain_apn_EfficientNet@4x-1642867431.gif
24_01_2022/racnn_efficientNet@2x-1643022073.gif
24_01_2022/racnn_efficientNet@4x-1643022074.gif
24_01_2022/racnn_efficientNetB0.pt
24_01_2022/logs/racnn-cls-loss.csv
24_01_2022/logs/racnn-cls1-training-accuracy.csv
24_01_2022/logs/racnn-cls1-validation-accuracy.csv
24_01_2022/logs/racnn-cls2-training-accuracy.csv
24_01_2022/logs/racnn-cls2-validation-accuracy.csv
24_01_2022/logs/racnn-cls3-training-accuracy.csv
24_01_2022/logs/racnn-cls3-validation-accuracy.csv
24_01_2022/logs/racnn-rank-loss.csv
24_01_2022/logs/racnn-training-accuracy.csv
24_01_2022/logs/racnn-validation-accuracy.csv
24_01_2022/plots/racnn-accuracy.png
24_01_2022/plots/racnn-cls-loss.png
24_01_2022/plots/racnn-cls-train-accuracy.png
24_01_2022/plots/racnn-cls-valid-accuracy.png
24_01_2022/plots/racnn-rank-loss.png
20_1_2022/build/apn_optimizer.pt
20_1_2022/build/cls_optimizer.pt
20_1_2022/build/core.log
20_1_2022/build/efficientNet_b0_ImageNet.pt
20_1_2022/build/optimizer.pt
20_1_2022/build/pretrain_apn_EfficientNet@2x-1642616568.gif
20_1_2022/build/pretrain_apn_EfficientNet@4x-1642616571.gif
20_1_2022/build/racnn_efficientNetB0.pt
20_1_2022/build/racnn_pretrained.pt
20_1_2022/build/.cache/epoch_0@2x.jpg
20_1_2022/build/.cache/epoch_0@4x.jpg
20_1_2022/build/.cache/epoch_1@2x.jpg
20_1_2022/build/.cache/epoch_1@4x.jpg
20_1_2022/build/.cache/epoch_2@2x.jpg
20_1_2022/build/.cache/epoch_2@4x.jpg
20_1_2022/build/.cache/epoch_3@2x.jpg
20_1_2022/build/.cache/epoch_3@4x.jpg
20_1_2022/build/.cache/epoch_4@2x.jpg
20_1_2022/build/.cache/epoch_4@4x.jpg
20_1_2022/build/.cache/epoch_5@2x.jpg
20_1_2022/build/.cache/epoch_5@4x.jpg
20_1_2022/build/.cache/epoch_6@2x.jpg
20_1_2022/build/.cache/epoch_6@4x.jpg
20_1_2022/build/.cache/epoch_7@2x.jpg
20_1_2022/build/.cache/epoch_7@4x.jpg
20_1_2022/build/.cache/epoch_8@2x.jpg
20_1_2022/build/.cache/epoch_8@4x.jpg
20_1_2022/build/.cache/epoch_9@2x.jpg
20_1_2022/build/.cache/epoch_9@4x.jpg
20_1_2022/build/.cache/epoch_10@2x.jpg
20_1_2022/build/.cache/epoch_10@4x.jpg
20_1_2022/build/.cache/epoch_11@2x.jpg
20_1_2022/build/.cache/epoch_11@4x.jpg
20_1_2022/build/.cache/epoch_12@2x.jpg
20_1_2022/build/.cache/epoch_12@4x.jpg
20_1_2022/build/.cache/epoch_13@2x.jpg
20_1_2022/build/.cache/epoch_13@4x.jpg
20_1_2022/build/.cache/epoch_14@2x.jpg
20_1_2022/build/.cache/epoch_14@4x.jpg
20_1_2022/build/.cache/original.jpg
20_1_2022/build/.cache/test@2x.jpg
20_1_2022/build/.cache/test@4x.jpg
20_1_2022/logs/racnn-cls-loss.csv
20_1_2022/logs/racnn-rank-loss.csv
20_1_2022/logs/racnn-training-accuracy.csv
20_1_2022/plots/labels.png
20_1_2022/plots/racnn-cls-loss.png
20_1_2022/plots/racnn-rank-loss.png
img_sz_512.zip
src/__pycache__/model.cpython-39.pyc
src/__pycache__/plant_loader.cpython-39.pyc
src/__pycache__/pretrain_apn.cpython-39.pyc
src/__pycache__/model.cpython-39.pyc
src/__pycache__/plant_loader.cpython-39.pyc
src/__pycache__/pretrain_apn.cpython-39.pyc
02_2_2022/build/apn_optimizer.pt
02_2_2022/build/cls_optimizer.pt
02_2_2022/build/core.log
02_2_2022/build/efficientNet_b0_ImageNet.pt
02_2_2022/build/optimizer.pt
02_2_2022/build/pretrain_apn_EfficientNet@2x-1643808446.gif
02_2_2022/build/pretrain_apn_EfficientNet@2x-1643813289.gif
02_2_2022/build/pretrain_apn_EfficientNet@2x-1643815852.gif
02_2_2022/build/pretrain_apn_EfficientNet@2x-1643816431.gif
02_2_2022/build/pretrain_apn_EfficientNet@4x-1643808448.gif
02_2_2022/build/pretrain_apn_EfficientNet@4x-1643813291.gif
02_2_2022/build/pretrain_apn_EfficientNet@4x-1643815854.gif
02_2_2022/build/pretrain_apn_EfficientNet@4x-1643816434.gif
02_2_2022/build/racnn_efficientNetB0.pt
02_2_2022/build/racnn_pretrained.pt
02_2_2022/build/.cache/epoch_0@2x.jpg
02_2_2022/build/.cache/epoch_0@4x.jpg
02_2_2022/build/.cache/epoch_1@2x.jpg
02_2_2022/build/.cache/epoch_1@4x.jpg
02_2_2022/build/.cache/epoch_2@2x.jpg
02_2_2022/build/.cache/epoch_2@4x.jpg
02_2_2022/build/.cache/epoch_3@2x.jpg
02_2_2022/build/.cache/epoch_3@4x.jpg
02_2_2022/build/.cache/epoch_4@2x.jpg
02_2_2022/build/.cache/epoch_4@4x.jpg
02_2_2022/build/.cache/epoch_5@2x.jpg
02_2_2022/build/.cache/epoch_5@4x.jpg
02_2_2022/build/.cache/epoch_6@2x.jpg
02_2_2022/build/.cache/epoch_6@4x.jpg
02_2_2022/build/.cache/epoch_7@2x.jpg
02_2_2022/build/.cache/epoch_7@4x.jpg
02_2_2022/logs/racnn-cls-loss.csv
02_2_2022/logs/racnn-cls1-training-accuracy.csv
02_2_2022/logs/racnn-cls1-validation-accuracy.csv
02_2_2022/logs/racnn-cls2-training-accuracy.csv
02_2_2022/logs/racnn-cls2-validation-accuracy.csv
02_2_2022/logs/racnn-cls3-training-accuracy.csv
02_2_2022/logs/racnn-cls3-validation-accuracy.csv
02_2_2022/logs/racnn-rank-loss.csv
02_2_2022/logs/racnn-training-accuracy.csv
02_2_2022/logs/racnn-validation-accuracy.csv
02_2_2022/plots/racnn-accuracy.png
02_2_2022/plots/racnn-cls-loss.png
02_2_2022/plots/racnn-cls-train-accuracy.png
02_2_2022/plots/racnn-cls-valid-accuracy.png
02_2_2022/plots/racnn-rank-loss.png
Prova_muzzata_rincollata/build/apn_optimizer.pt
Prova_muzzata_rincollata/build/cls_optimizer.pt
Prova_muzzata_rincollata/build/core.log
Prova_muzzata_rincollata/build/efficientNet_b0_ImageNet.pt
Prova_muzzata_rincollata/build/optimizer.pt
Prova_muzzata_rincollata/build/racnn_efficientNetB0.pt
Prova_muzzata_rincollata/build/racnn_pretrained.pt
Prova_muzzata_rincollata/build/.cache/epoch_0@2x.jpg
Prova_muzzata_rincollata/build/.cache/epoch_0@4x.jpg
Prova_muzzata_rincollata/build/.cache/epoch_1@2x.jpg
Prova_muzzata_rincollata/build/.cache/epoch_1@4x.jpg
Prova_muzzata_rincollata/build/.cache/epoch_2@2x.jpg
Prova_muzzata_rincollata/build/.cache/epoch_2@4x.jpg
Prova_muzzata_rincollata/build/.cache/epoch_3@2x.jpg
Prova_muzzata_rincollata/build/.cache/epoch_3@4x.jpg
Prova_muzzata_rincollata/logs/racnn-cls-loss.csv
Prova_muzzata_rincollata/logs/racnn-cls1-training-accuracy.csv
Prova_muzzata_rincollata/logs/racnn-cls1-validation-accuracy.csv
Prova_muzzata_rincollata/logs/racnn-cls2-training-accuracy.csv
Prova_muzzata_rincollata/logs/racnn-cls2-validation-accuracy.csv
Prova_muzzata_rincollata/logs/racnn-cls3-training-accuracy.csv
Prova_muzzata_rincollata/logs/racnn-cls3-validation-accuracy.csv
Prova_muzzata_rincollata/logs/racnn-rank-loss.csv
Prova_muzzata_rincollata/logs/racnn-training-accuracy.csv
Prova_muzzata_rincollata/logs/racnn-validation-accuracy.csv
Prova_muzzata_rincollata/src/EfficientNetSchema.py
Prova_muzzata_rincollata/src/forge.py
Prova_muzzata_rincollata/src/fusion.py
Prova_muzzata_rincollata/src/lolloTest.py
Prova_muzzata_rincollata/src/model.py
Prova_muzzata_rincollata/src/plant_loader.py
Prova_muzzata_rincollata/src/plant_loader2.py
Prova_muzzata_rincollata/src/pretrain_apn.py
Prova_muzzata_rincollata/src/pretrain_efficientNet.py
Prova_muzzata_rincollata/src/test.py
Prova_muzzata_rincollata/src/__pycache__/forge.cpython-39.pyc
Prova_muzzata_rincollata/src/__pycache__/model.cpython-39.pyc
Prova_muzzata_rincollata/src/__pycache__/plant_loader.cpython-39.pyc
Prova_muzzata_rincollata/src/__pycache__/plant_loader2.cpython-39.pyc
Prova_muzzata_rincollata/src/__pycache__/pretrain_apn.cpython-39.pyc
runs/experiment_1/events.out.tfevents.1644144660.DESKTOP-FP8E42F.14908.0
src/__pycache__/model.cpython-39.pyc
src/__pycache__/plant_loader.cpython-39.pyc
src/__pycache__/pretrain_apn.cpython-39.pyc
src/__pycache__/model.cpython-39.pyc
src/__pycache__/plant_loader.cpython-39.pyc
src/__pycache__/pretrain_apn.cpython-39.pyc
